.mytest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  width: 100%;
}
.cmyk {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 5%;
}
.cyan {
  background-color: cyan;
  color: white;
  height: inherit;
  width: 25%;
  border-radius: 50%;
}
.magenta {
  background-color: magenta;
  color: white;
  height: inherit;
  width: 25%;
  border-radius: 50%;
}
.yellow {
  background-color: yellow;
  color: black;
  height: inherit;
  width: 25%;
  border-radius: 50%;
}
.black {
  background-color: black;
  color: white;
  height: inherit;
  width: 25%;
  border-radius: 50%;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 5.5rem;
  text-align: center;

  color: white;
  background-color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
