.mytest {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cmyk {
  background-color: blueviolet;
  h
}
.cyan {
  background-color: cyan;
  color: white;
  height: inherit;
  width: 50%;
}
